:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 300;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: linear-gradient(90deg,rgba(152, 159, 166, 1) 21%, rgba(110, 117, 114, 1) 62%, rgba(102, 100, 92, 1) 100%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.dashboard-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 10px;
  background-color: linear-gradient(90deg,rgba(152, 159, 166, 1) 21%, rgba(110, 117, 114, 1) 62%, rgba(102, 100, 92, 1) 100%);
  justify-content: space-between;
  margin: calc(100vw*.05);
  height: max-content;
}

.left-div{
  display: grid;
  grid-template-rows: 1fr 3fr;
  gap: 10px;
  color: black;
}

.right-div{
  display: grid;
  color: black;
  border: 1px solid black;
  border-radius: 10px;
}

.top-div{
  display: grid;
  column-gap: 10px;
  grid-template-columns: 2fr 3fr;
  background-color: white;
}

.bottom-div{
  display: grid;
  background-color: white;
  border-radius: 10px;
  border: 1px solid black;
  padding: 10px;
}

.top-div-left, .top-div-right{
  display: grid;
  border: 1px solid black;
  border-radius: 10px;
  align-items: center;
}

.top-div-right{
  grid-template-columns: 1fr 1fr;
}

.house-menu{
  display: flex;
  flex-direction: row;
  justify-items: space-between;
  height: max-content;
  width: 100%;
}

.house-menu-list{
  display: flex;
  list-style: none;
  border-bottom: 2px solid black;
}

li{
  padding: 5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  list-style: none;
}

.nav-items:hover{
  background-color: lightgray;
  cursor: pointer;
}

.active-bg{
  background-color: lightgray;
}

.sensors-div ,ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
